# 01 Importing Libraries

In [1]:
# import libraries
import pandas as pd
import numpy as np
import os

In [2]:
path = r'/Users/Dena/Instacart Basket Analysis'

In [3]:
# import order data
df_ords = pd.read_csv(r'/Users/Dena/Instacart Basket Analysis/02 Data/Prepared Data/orders_checked_redo.csv', index_col = False)

# check the output
df_ords.head()

,Unnamed: 0,order_id,user_id,number_of_orders_by_user,orders_day_of_week,order_hour_of_day,days_since_prior_order,is_first_order
0,0,2539329,1,1,2,8,NaN,Yes
1,1,2398795,1,2,3,7,15.0,No
2,2,473747,1,3,3,12,21.0,No
3,3,2254736,1,4,4,7,29.0,No
4,4,431534,1,5,4,15,28.0,No

In [4]:
# import prior order data
df_ords_prior = pd.read_csv(r'/Users/Dena/Instacart Basket Analysis/02 Data/Original Data/order_products_prior.csv', index_col = False)

# check the output
df_ords_prior.head()

   order_id  product_id  add_to_cart_order  reordered
0         2       33120                  1          1
1         2       28985                  2          1
2         2        9327                  3          0
3         2       45918                  4          1
4         2       30035                  5          0

In [5]:
df_ords.shape

(3421083, 8)

In [6]:
df_ords_prior.shape

(32434489, 4)

# 02 Combining Data

In [7]:
df_merged_large = df_ords.merge(df_ords_prior, on = 'order_id', indicator = True)

In [8]:
df_merged_large.head()

,Unnamed: 0,order_id,user_id,number_of_orders_by_user,orders_day_of_week,order_hour_of_day,days_since_prior_order,is_first_order,product_id,add_to_cart_order,reordered,_merge
0,0,2539329,1,1,2,8,NaN,Yes,196,1,0,both
1,0,2539329,1,1,2,8,NaN,Yes,14084,2,0,both
2,0,2539329,1,1,2,8,NaN,Yes,12427,3,0,both
3,0,2539329,1,1,2,8,NaN,Yes,26088,4,0,both
4,0,2539329,1,1,2,8,NaN,Yes,26405,5,0,both

In [10]:
df_merged_large['_merge'].value_counts()

both          32434489
right_only           0
left_only            0
Name: _merge, dtype: int64

In [14]:
# check the outer join dataframe to see the real merge rate

df_merged_outer = pd.merge(df_ords, df_ords_prior, on = 'order_id', how = 'outer', indicator = True)

In [15]:
df_merged_outer.head()

,Unnamed: 0,order_id,user_id,number_of_orders_by_user,orders_day_of_week,order_hour_of_day,days_since_prior_order,is_first_order,product_id,add_to_cart_order,reordered,_merge
0,0,2539329,1,1,2,8,NaN,Yes,196.0,1.0,0.0,both
1,0,2539329,1,1,2,8,NaN,Yes,14084.0,2.0,0.0,both
2,0,2539329,1,1,2,8,NaN,Yes,12427.0,3.0,0.0,both
3,0,2539329,1,1,2,8,NaN,Yes,26088.0,4.0,0.0,both
4,0,2539329,1,1,2,8,NaN,Yes,26405.0,5.0,0.0,both

In [16]:
df_merged_outer['_merge'].value_counts()

both          32434489
left_only       206209
right_only           0
Name: _merge, dtype: int64

# 03 Export Data

In [19]:
# How to export data to csv
# df_merged_large.to_csv(os.path.join(path, '02 Data','Prepared Data', 'orders_products_combined.csv'))

# How to export data to pkl
# df_merged_large.to_pickle(os.path.join(path, '02 Data','Prepared Data', 'orders_products_combined.pkl'))

In [20]:
df_merged_large.to_pickle(os.path.join(path, '02 Data','Prepared Data', 'orders_products_combined.pkl'))