# 01 Import Libraries and Data

In [3]:
# import libraries
import pandas as pd
import numpy as np
import os

In [4]:
# create a path
path = r'/Users/Dena/Instacart Basket Analysis'

In [5]:
# import the new customer data frame
df = pd.read_csv(os.path.join(path, '02 Data', 'Original Data', 'customers.csv'))

In [6]:
# check the shape
df.shape

(206209, 10)

In [7]:
# check the output
df.head()

,user_id,First Name,Surnam,Gender,STATE,Age,date_joined,n_dependants,fam_status,income
0,26711,Deborah,Esquivel,Female,Missouri,48,1/1/2017,3,married,165665
1,33890,Patricia,Hart,Female,New Mexico,36,1/1/2017,0,single,59285
2,65803,Kenneth,Farley,Male,Idaho,35,1/1/2017,2,married,99568
3,125935,Michelle,Hicks,Female,Iowa,40,1/1/2017,0,single,42049
4,130797,Ann,Gilmore,Female,Maryland,26,1/1/2017,1,married,40374

In [8]:
# check the data types
df.dtypes

user_id          int64
First Name      object
Surnam          object
Gender          object
STATE           object
Age              int64
date_joined     object
n_dependants     int64
fam_status      object
income           int64
dtype: object

In [9]:
# check the columns
df.columns

Index(['user_id', 'First Name', 'Surnam', 'Gender', 'STATE', 'Age',
       'date_joined', 'n_dependants', 'fam_status', 'income'],
      dtype='object')

In [10]:
# find the basic stats
df.describe()

             user_id            Age   n_dependants         income
count  206209.000000  206209.000000  206209.000000  206209.000000
mean   103105.000000      49.501646       1.499823   94632.852548
std     59527.555167      18.480962       1.118433   42473.786988
min         1.000000      18.000000       0.000000   25903.000000
25%     51553.000000      33.000000       0.000000   59874.000000
50%    103105.000000      49.000000       1.000000   93547.000000
75%    154657.000000      66.000000       3.000000  124244.000000
max    206209.000000      81.000000       3.000000  593901.000000

# 02 Data Wrangling

In [11]:
# change the settings so Jupyter displays all the rows
pd.options.display.max_rows = None

In [12]:
# check the values in the date_joined column
df['date_joined'].value_counts(dropna = False)

9/17/2018     213
2/10/2018     212
4/1/2019      211
9/21/2019     211
12/19/2017    210
12/24/2019    209
10/11/2017    205
1/7/2018      205
1/25/2019     205
11/19/2019    205
12/6/2019     204
10/18/2019    203
3/26/2018     203
9/30/2019     203
3/31/2019     203
7/28/2018     203
10/6/2018     202
3/2/2020      202
11/21/2018    202
11/6/2018     202
10/20/2018    202
3/12/2020     202
3/23/2018     202
10/17/2019    202
2/1/2017      201
12/28/2018    201
3/8/2019      201
5/4/2018      201
10/18/2017    201
7/23/2018     200
11/14/2017    200
5/11/2018     200
1/19/2017     200
1/23/2018     199
8/10/2017     199
4/7/2018      199
4/13/2019     199
9/12/2017     198
7/7/2018      198
3/10/2017     198
7/20/2017     198
12/25/2017    198
5/13/2019     198
9/28/2019     198
10/23/2018    198
3/28/2020     197
2/1/2018      197
7/21/2018     197
8/13/2018     197
5/18/2019     197
1/12/2017     197
11/12/2018    197
8/4/2017      197
9/24/2017     196
6/4/2019      196
11/16/2019    196
12/18/2018    196
4/4/2017      196
9/30/2017     196
3/5/2020      196
8/8/2019      195
1/8/2020      195
5/2/2018      195
11/18/2019    195
11/28/2017    195
4/21/2017     195
8/4/2019      195
10/8/2018     195
8/14/2017     195
3/16/2017     195
9/28/2017     195
9/2/2019      195
12/22/2018    194
2/6/2017      194
9/10/2017     194
6/7/2019      194
2/16/2018     194
2/29/2020     194
2/24/2020     193
2/3/2017      193
2/3/2019      193
10/10/2018    193
5/28/2018     193
2/8/2018      193
2/9/2020      193
6/13/2019     193
6/20/2017     192
7/4/2017      192
4/2/2019      192
10/5/2017     192
10/10/2017    192
1/10/2017     192
5/25/2019     192
5/1/2019      192
7/16/2019     192
1/9/2019      192
2/10/2017     192
11/7/2017     191
3/19/2018     191
2/22/2019     191
6/3/2018      191
2/17/2020     191
9/13/2017     191
5/31/2017     191
9/6/2018      191
3/16/2020     191
3/28/2017     191
4/5/2017      191
2/14/2020     191
8/25/2017     191
2/16/2017     190
12/1/2017     190
4/29/2019     190
2/19/2017     190
12/31/2017    190
5/10/2018     190
2/4/2017      190
8/26/2019     190
3/13/2018     190
7/23/2019     190
3/25/2017     190
10/21/2017    190
10/30/2017    190
8/20/2018     190
1/3/2018      190
3/28/2018     190
4/6/2019      190
8/18/2017     190
6/30/2018     189
6/8/2017      189
1/21/2018     189
2/5/2018      189
12/7/2017     189
3/19/2020     189
12/11/2017    189
5/14/2018     189
7/16/2017     189
8/9/2017      189
11/16/2017    189
6/21/2017     189
4/2/2018      189
4/26/2018     189
12/19/2018    188
12/30/2019    188
9/1/2019      188
8/24/2019     188
10/14/2018    188
3/11/2018     188
4/15/2017     188
10/4/2019     188
8/12/2018     188
1/2/2019      188
11/5/2019     188
1/4/2017      188
2/13/2020     188
8/23/2017     188
2/20/2018     188
1/24/2019     187
10/2/2019     187
4/9/2018      187
7/17/2018     187
10/13/2019    187
1/12/2020     187
12/20/2018    187
10/29/2019    187
1/24/2017     187
1/23/2019     187
11/20/2017    187
1/20/2018     187
3/6/2019      187
8/19/2017     187
7/31/2019     187
5/28/2019     187
3/6/2017      187
3/9/2019      187
12/4/2017     187
8/4/2018      187
12/9/2017     187
10/21/2019    187
7/25/2018     187
8/10/2019     187
9/15/2017     186
1/26/2018     186
12/7/2018     186
11/10/2017    186
2/3/2018      186
2/2/2017      186
10/19/2017    186
8/16/2019     186
11/24/2019    186
7/22/2018     186
4/7/2019      186
1/11/2018     186
4/5/2018      186
3/6/2020      186
1/15/2017     186
12/27/2018    186
9/9/2017      186
5/29/2019     186
5/26/2019     186
3/1/2020      186
12/21/2017    186
9/28/2018     186
8/20/2017     186
4/19/2018     186
5/3/2018      186
3/8/2017      186
6/1/2017      186
9/16/2017     186
8/11/2019     186
9/6/2017      186
7/6/2017      186
3/3/2017      185
9/10/2019     185
3/24/2017     185
10/20/2017    185
1/7/2020      185
8/19/2018     185
2/19/2020     185
6/8/2019      185
6/26/2018     185
1/12/2019     185
8/27/2019     185
8/26/2018     185
1/30/2019     185
3/13/2020     185
11/22/2017    185
9/14/2017     185
7/5/2019      185
9/29/2018     185
8/24/2017     185
5/28/2017     185
10/30/2018    185
7/30/2017     185
2/27/2018     185
1/27/2018     185
9/3/2017      184
5/4/2017      184
3/5/2018      184
8/23/2019     184
1/22/2020     184
4/21/2019     184
4/11/2018     184
2/19/2019     184
1/18/2017     184
2/20/2019     184
6/28/2018     184
2/25/2018     184
6/15/2017     184
5/3/2019      184
3/25/2019     184
1/23/2020     184
3/1/2017      184
8/6/2019      184
6/17/2018     184
8/15/2018     184
4/20/2018     183
11/10/2019    183
1/26/2019     183
9/26/2018     183
10/24/2017    183
5/15/2017     183
2/9/2019      183
11/4/2018     183
11/7/2019     183
8/6/2017      183
6/20/2018     183
11/20/2018    183
1/26/2020     183
6/2/2018      183
5/12/2017     183
7/30/2019     183
5/14/2019     183
8/7/2017      183
10/11/2019    183
9/1/2017      183
2/12/2019     183
5/19/2017     183
8/27/2017     183
1/22/2017     183
9/6/2019      183
9/24/2018     183
6/2/2019      183
9/21/2017     183
6/26/2017     183
9/19/2018     183
2/23/2020     183
3/7/2019      183
3/13/2019     183
3/10/2020     183
8/5/2019      183
7/6/2019      183
3/31/2017     182
8/2/2019      182
6/25/2018     182
4/18/2017     182
2/3/2020      182
6/4/2018      182
4/30/2017     182
5/11/2017     182
3/20/2018     182
12/12/2017    182
7/26/2017     182
11/1/2019     182
1/2/2018      182
4/23/2017     182
10/5/2018     182
11/2/2018     182
8/15/2019     182
7/27/2017     182
2/28/2018     182
6/10/2018     182
4/30/2018     182
10/4/2017     182
7/24/2019     181
11/25/2018    181
10/31/2018    181
3/2/2018      181
4/19/2019     181
9/5/2019      181
7/26/2019     181
8/9/2019      181
9/3/2018      181
11/21/2017    181
6/12/2018     181
3/17/2017     181
3/20/2020     181
12/2/2017     181
7/27/2018     181
3/18/2019     181
3/6/2018      181
1/17/2020     181
5/2/2017      181
4/12/2017     181
8/25/2019     181
8/30/2017     181
6/21/2019     181
7/1/2019      181
5/23/2018     181
1/6/2018      181
12/23/2019    181
10/23/2017    181
6/23/2018     181
10/15/2017    181
6/18/2017     181
7/3/2019      181
7/10/2019     181
4/6/2018      181
4/10/2018     181
1/20/2017     181
9/9/2019      181
4/16/2017     181
1/3/2020      181
8/17/2019     181
9/18/2019     180
4/26/2017     180
7/24/2018     180
2/6/2019      180
3/4/2018      180
9/7/2017      180
1/27/2020     180
11/23/2019    180
5/30/2018     180
4/4/2018      180
11/17/2017    180
4/11/2017     180
5/24/2018     180
12/5/2017     180
5/16/2017     180
12/2/2018     180
3/7/2020      180
12/29/2018    180
6/25/2019     180
9/25/2019     180
4/3/2018      180
12/10/2017    180
10/1/2017     180
12/25/2019    180
8/3/2017      180
4/16/2019     180
6/11/2017     180
11/27/2019    180
2/24/2018     180
12/17/2019    180
4/12/2019     180
2/1/2020      180
12/3/2019     180
10/7/2017     180
3/4/2019      179
12/16/2019    179
8/13/2017     179
11/28/2018    179
5/20/2018     179
1/21/2017     179
7/22/2017     179
3/26/2020     179
2/4/2019      179
2/13/2017     179
6/5/2018      179
2/12/2020     179
7/31/2017     179
2/22/2017     179
12/19/2019    179
4/1/2017      179
11/8/2019     179
8/11/2017     179
6/8/2018      179
4/17/2019     179
9/27/2019     179
4/29/2018     179
10/29/2018    179
4/28/2018     179
4/28/2019     179
8/29/2017     178
2/6/2018      178
9/27/2018     178
6/24/2017     178
10/8/2017     178
10/21/2018    178
3/15/2020     178
1/13/2018     178
3/1/2018      178
5/5/2017      178
2/18/2020     178
8/3/2019      178
6/30/2017     178
2/20/2020     178
12/20/2019    178
7/30/2018     178
1/4/2019      178
12/28/2017    178
3/7/2017      178
2/7/2020      178
8/28/2017     178
7/15/2017     178
10/5/2019     178
5/1/2017      178
8/16/2018     178
5/16/2018     178
1/22/2019     178
5/23/2017     178
6/13/2017     178
2/11/2020     177
7/11/2019     177
4/13/2018     177
6/1/2019      177
4/14/2018     177
8/21/2019     177
10/12/2018    177
2/17/2019     177
8/15/2017     177
8/30/2019     177
10/12/2017    177
2/19/2018     177
9/21/2018     177
5/29/2018     177
3/8/2020      177
2/26/2019     177
2/14/2019     177
5/11/2019     177
3/11/2019     177
4/4/2019      177
3/21/2017     177
2/21/2020     177
4/18/2019     177
6/20/2019     177
9/2/2018      177
1/7/2017      177
2/5/2017      177
6/14/2019     177
8/14/2019     177
4/21/2018     177
2/8/2017      177
2/22/2018     177
4/20/2019     177
8/13/2019     177
6/28/2017     177
7/17/2017     177
1/5/2017      177
10/7/2019     177
2/8/2020      176
10/22/2017    176
1/21/2019     176
10/19/2018    176
3/19/2019     176
1/14/2019     176
10/23/2019    176
9/17/2019     176
3/23/2020     176
8/1/2017      176
4/20/2017     176
9/14/2018     176
10/27/2017    176
5/17/2019     176
10/30/2019    176
12/10/2018    176
2/4/2020      176
2/4/2018      176
6/17/2019     176
5/9/2018      176
3/30/2019     176
5/21/2017     176
5/30/2017     176
3/22/2020     176
3/10/2019     176
11/16/2018    176
1/8/2017      176
3/22/2018     176
11/13/2019    176
12/4/2018     176
6/22/2018     176
10/28/2019    176
10/28/2018    176
1/10/2019     176
3/17/2020     176
12/20/2017    176
2/25/2017     176
4/25/2018     175
10/24/2019    175
9/22/2017     175
5/27/2019     175
3/3/2018      175
3/23/2019     175
8/23/2018     175
6/16/2019     175
4/15/2018     175
3/29/2017     175
12/30/2018    175
12/24/2017    175
11/15/2017    175
4/11/2019     175
9/19/2019     175
3/4/2017      175
1/19/2020     175
9/19/2017     175
10/3/2017     175
5/19/2018     175
12/7/2019     175
6/22/2017     175
5/27/2018     175
1/3/2019      175
11/15/2019    175
10/15/2018    175
4/2/2017      175
2/17/2018     175
12/31/2019    175
8/12/2019     175
12/14/2018    175
9/23/2019     175
3/13/2017     175
8/30/2018     175
11/30/2019    175
11/2/2019     175
6/3/2017      175
6/3/2019      175
12/16/2018    175
2/7/2018      175
7/14/2018     175
6/10/2017     175
4/10/2019     175
5/26/2018     175
10/20/2019    175
6/23/2017     175
6/6/2018      174
3/12/2017     174
9/9/2018      174
1/5/2019      174
10/12/2019    174
1/31/2018     174
7/29/2019     174
12/2/2019     174
5/10/2019     174
3/22/2019     174
10/2/2017     174
9/11/2017     174
5/9/2017      174
4/1/2018      174
10/1/2019     174
1/13/2017     174
7/5/2018      174
6/6/2017      174
5/26/2017     174
7/31/2018     174
6/7/2018      174
7/3/2017      174
10/8/2019     174
2/23/2019     174
12/29/2019    174
5/18/2018     174
3/3/2019      174
12/17/2018    174
11/17/2018    174
11/9/2018     174
5/20/2017     174
10/18/2018    174
1/13/2019     174
4/23/2019     174
1/19/2019     174
11/12/2017    174
5/6/2018      174
1/25/2018     174
1/17/2017     173
12/4/2019     173
1/5/2018      173
9/4/2019      173
6/5/2017      173
1/9/2018      173
3/4/2020      173
2/26/2020     173
10/3/2019     173
11/27/2018    173
8/18/2018     173
1/8/2018      173
1/31/2020     173
9/11/2018     173
4/22/2019     173
2/1/2019      173
4/8/2019      173
1/20/2019     173
5/21/2018     173
12/10/2019    173
5/8/2018      173
9/25/2018     173
4/3/2019      173
12/26/2017    173
11/5/2017     173
9/12/2018     173
5/18/2017     173
12/8/2017     173
1/31/2019     173
1/30/2017     173
7/24/2017     173
9/10/2018     173
6/19/2019     173
10/22/2019    173
4/24/2018     173
11/23/2018    173
3/8/2018      173
7/18/2017     173
11/28/2019    172
8/5/2017      172
8/18/2019     172
5/3/2017      172
8/28/2018     172
12/1/2018     172
7/2/2018      172
6/9/2019      172
7/8/2018      172
3/25/2018     172
5/9/2019      172
11/19/2018    172
4/10/2017     172
3/17/2018     172
4/9/2019      172
3/24/2020     172
1/6/2017      172
11/22/2019    172
9/25/2017     172
4/14/2019     172
5/7/2018      172
6/4/2017      172
4/8/2017      172
3/14/2019     172
4/24/2019     172
10/6/2019     172
1/23/2017     172
7/29/2017     172
7/10/2018     172
9/20/2018     172
4/27/2018     172
7/12/2017     172
8/3/2018      172
11/29/2019    171
7/19/2017     171
5/25/2017     171
8/22/2018     171
5/22/2019     171
1/17/2018     171
8/19/2019     171
8/20/2019     171
5/14/2017     171
2/13/2018     171
3/12/2018     171
5/7/2019      171
4/17/2017     171
1/27/2017     171
3/21/2020     171
4/27/2019     171
6/5/2019      171
11/14/2019    171
9/26/2019     171
3/29/2020     171
8/11/2018     171
10/17/2017    171
9/12/2019     171
9/22/2019     171
1/9/2017      171
4/19/2017     171
7/10/2017     171
1/18/2019     171
5/22/2018     171
12/22/2017    171
10/25/2019    171
2/12/2017     171
12/8/2019     170
1/13/2020     170
6/1/2018      170
4/22/2018     170
10/16/2019    170
6/30/2019     170
3/11/2020     170
2/6/2020      170
8/2/2018      170
5/31/2019     170
5/27/2017     170
2/28/2019     170
1/16/2020     170
12/23/2017    170
1/25/2020     170
6/27/2019     170
3/17/2019     170
9/27/2017     170
2/13/2019     170
10/9/2018     170
5/6/2017      170
1/14/2018     170
3/3/2020      170
8/7/2019      170
12/26/2019    170
2/5/2019      170
3/19/2017     170
8/5/2018      170
10/10/2019    170
5/17/2017     170
10/27/2018    170
2/10/2020     170
7/2/2017      170
3/28/2019     170
1/16/2018     170
7/2/2019      170
7/17/2019     170
7/18/2018     170
2/16/2019     169
2/24/2017     169
11/30/2018    169
3/14/2018     169
3/12/2019     169
7/11/2018     169
9/4/2017      169
12/11/2018    169
5/23/2019     169
3/21/2018     169
4/1/2020      169
6/23/2019     169
8/26/2017     169
6/16/2018     169
8/14/2018     169
5/6/2019      169
2/28/2020     169
4/7/2017      169
6/28/2019     169
11/1/2018     169
2/17/2017     169
1/4/2020      169
12/22/2019    169
8/31/2018     169
5/2/2019      169
7/28/2019     169
12/23/2018    169
3/15/2019     169
10/24/2018    169
3/9/2020      169
5/13/2017     169
3/7/2018      169
1/3/2017      169
8/25/2018     169
11/21/2019    169
7/14/2019     169
11/3/2017     169
1/24/2018     168
2/14/2018     168
8/2/2017      168
12/9/2019     168
6/11/2019     168
6/16/2017     168
1/20/2020     168
11/25/2019    168
1/28/2017     168
5/12/2019     168
1/11/2019     168
7/16/2018     168
12/21/2019    168
7/7/2017      168
5/30/2019     168
11/6/2019     168
12/11/2019    168
3/15/2017     168
11/5/2018     168
12/21/2018    168
6/14/2018     168
2/2/2019      168
7/9/2019      168
1/7/2019      168
6/11/2018     168
6/18/2019     168
11/1/2017     168
4/25/2019     168
3/20/2017     168
6/15/2018     168
6/15/2019     168
8/8/2017      168
12/13/2019    168
4/13/2017     168
8/10/2018     167
10/17/2018    167
7/19/2019     167
1/30/2018     167
12/3/2018     167
8/28/2019     167
10/19/2019    167
5/16/2019     167
12/5/2019     167
10/31/2019    167
11/2/2017     167
1/31/2017     167
9/17/2017     167
2/15/2020     167
10/3/2018     167
3/14/2020     167
1/4/2018      167
8/7/2018      167
10/27/2019    167
7/13/2018     167
1/28/2018     167
2/12/2018     167
9/11/2019     167
3/11/2017     167
7/11/2017     167
7/1/2018      167
11/30/2017    167
4/5/2019      167
11/23/2017    167
12/13/2017    167
2/18/2017     167
2/27/2017     167
11/11/2019    167
10/26/2018    167
7/6/2018      166
3/24/2018     166
1/15/2020     166
5/5/2018      166
9/29/2019     166
3/9/2017      166
9/13/2019     166
6/24/2018     166
1/28/2020     166
7/20/2018     166
6/29/2017     166
10/6/2017     166
4/18/2018     166
12/28/2019    166
3/26/2017     166
3/18/2018     166
12/18/2019    166
6/22/2019     166
12/6/2018     166
1/29/2017     166
1/10/2018     166
1/11/2017     166
1/16/2019     166
3/18/2020     166
3/27/2019     166
12/17/2017    166
2/26/2017     166
2/26/2018     166
8/17/2018     166
9/20/2017     166
2/15/2019     166
3/23/2017     166
10/25/2018    166
8/29/2019     165
7/9/2017      165
1/29/2019     165
10/14/2017    165
7/19/2018     165
7/8/2019      165
2/28/2017     165
9/23/2017     165
3/18/2017     165
1/14/2020     165
7/26/2018     165
5/25/2018     165
5/24/2019     165
2/14/2017     165
3/27/2020     165
3/30/2020     165
1/30/2020     165
10/13/2018    165
12/6/2017     165
2/25/2020     165
3/27/2017     165
12/26/2018    165
3/16/2019     165
4/23/2018     165
2/5/2020      165
2/11/2018     165
11/22/2018    165
6/19/2018     165
8/17/2017     165
9/22/2018     165
9/8/2017      165
1/5/2020      165
10/7/2018     164
9/2/2017      164
2/11/2019     164
2/11/2017     164
10/16/2017    164
6/26/2019     164
9/18/2017     164
9/8/2018      164
1/15/2019     164
9/7/2019      164
1/17/2019     164
8/8/2018      164
7/25/2019     164
4/12/2018     164
1/24/2020     164
7/22/2019     164
11/13/2017    164
3/21/2019     164
9/16/2018     164
2/21/2019     164
11/15/2018    164
1/9/2020      164
10/22/2018    164
2/10/2019     164
12/27/2019    164
11/24/2018    164
12/13/2018    164
9/16/2019     164
2/16/2020     164
11/4/2019     164
12/8/2018     164
11/26/2018    164
4/9/2017      164
6/29/2019     163
5/13/2018     163
8/16/2017     163
2/2/2018      163
2/21/2017     163
12/27/2017    163
3/27/2018     163
5/4/2019      163
4/28/2017     163
10/13/2017    163
7/1/2017      163
12/25/2018    163
6/12/2017     163
4/30/2019     163
5/15/2019     163
3/1/2019      163
8/12/2017     163
12/9/2018     163
8/21/2017     163
2/2/2020      163
1/27/2019     163
1/6/2020      163
1/29/2018     162
8/21/2018     162
5/29/2017     162
8/22/2019     162
3/29/2018     162
9/15/2019     162
2/7/2017      162
11/10/2018    162
11/29/2017    162
3/9/2018      162
10/16/2018    162
12/15/2019    162
6/2/2017      162
3/2/2017      162
7/9/2018      162
10/11/2018    162
9/4/2018      162
3/30/2018     162
2/22/2020     162
5/5/2019      162
7/14/2017     162
7/15/2019     161
12/5/2018     161
10/26/2019    161
2/18/2019     161
4/25/2017     161
6/27/2018     161
1/18/2018     161
12/16/2017    161
6/17/2017     161
11/19/2017    161
5/10/2017     161
11/3/2019     161
9/30/2018     161
1/2/2020      161
12/12/2018    161
3/5/2017      161
11/4/2017     161
7/25/2017     161
3/22/2017     161
7/15/2018     161
8/29/2018     161
12/29/2017    161
1/21/2020     160
1/28/2019     160
3/29/2019     160
11/3/2018     160
3/10/2018     160
8/27/2018     160
2/23/2017     160
6/27/2017     160
2/25/2019     160
5/8/2017      160
2/21/2018     160
7/7/2019      160
12/18/2017    160
5/21/2019     160
11/13/2018    160
11/14/2018    160
11/9/2019     160
12/31/2018    160
7/20/2019     160
9/29/2017     160
8/1/2018      160
10/31/2017    160
11/29/2018    160
10/9/2017     159
8/9/2018      159
4/8/2018      159
3/30/2017     159
1/19/2018     159
6/7/2017      159
4/22/2017     159
6/18/2018     159
9/14/2019     159
9/3/2019      159
6/13/2018     159
1/1/2017      159
5/19/2019     159
2/9/2018      159
12/30/2017    159
1/10/2020     158
11/9/2017     158
2/15/2017     158
6/21/2018     158
7/12/2019     158
9/8/2019      158
1/6/2019      158
7/12/2018     158
7/21/2017     158
12/15/2017    158
7/3/2018      158
5/12/2018     158
11/11/2018    158
3/2/2019      158
5/15/2018     158
6/9/2018      158
2/20/2017     158
12/3/2017     158
3/24/2019     158
1/16/2017     158
5/22/2017     158
8/22/2017     157
7/13/2019     157
3/20/2019     157
2/15/2018     157
9/26/2017     157
6/12/2019     157
10/14/2019    157
1/18/2020     157
12/14/2019    157
10/25/2017    157
7/5/2017      157
4/26/2019     157
11/18/2018    157
2/27/2020     157
3/26/2019     157
11/12/2019    157
11/6/2017     156
3/16/2018     156
4/15/2019     156
5/7/2017      156
9/7/2018      156
11/8/2017     156
7/21/2019     155
11/11/2017    155
1/14/2017     155
3/31/2018     155
9/5/2018      155
12/14/2017    155
4/16/2018     155
7/27/2019     155
1/29/2020     155
5/1/2018      155
12/15/2018    155
12/24/2018    155
5/20/2019     155
8/24/2018     155
11/20/2019    155
9/18/2018     155
6/14/2017     155
9/20/2019     154
10/29/2017    154
1/2/2017      154

In [13]:
# check for mixed data types
for col in df.columns.tolist():
  weird = (df[[col]].applymap(type) != df[[col]].iloc[0].apply(type)).any(axis = 1)
  if len (df[weird]) > 0:
    print (col)

First Name

In [14]:
# convert mixed data type to string
df['First Name'] = df['First Name'].astype('str')

In [15]:
# change the column names
df.rename(columns = {'First Name' : 'first_name'}, inplace = True)
df.rename(columns = {'Surnam' : 'last_name'}, inplace = True)
df.rename(columns = {'Gender' : 'gender'}, inplace = True)
df.rename(columns = {'STATE' : 'state'}, inplace = True)
df.rename(columns = {'Age' : 'age'}, inplace = True)
df.rename(columns = {'n_dependants' : 'number_of_dependents'}, inplace = True)
df.rename(columns = {'fam_status' : 'marital_status'}, inplace = True)

In [16]:
# check the output
df.head()

,user_id,first_name,last_name,gender,state,age,date_joined,number_of_dependents,marital_status,income
0,26711,Deborah,Esquivel,Female,Missouri,48,1/1/2017,3,married,165665
1,33890,Patricia,Hart,Female,New Mexico,36,1/1/2017,0,single,59285
2,65803,Kenneth,Farley,Male,Idaho,35,1/1/2017,2,married,99568
3,125935,Michelle,Hicks,Female,Iowa,40,1/1/2017,0,single,42049
4,130797,Ann,Gilmore,Female,Maryland,26,1/1/2017,1,married,40374

In [17]:
# check the values in the marital_status column
df['marital_status'].value_counts(dropna = False)

married                             144906
single                               33962
divorced/widowed                     17640
living with parents and siblings      9701
Name: marital_status, dtype: int64

In [18]:
# check the values in the gender column
df['gender'].value_counts(dropna = False)

Male      104067
Female    102142
Name: gender, dtype: int64

In [19]:
# check the values in the number_of_dependents column
df['number_of_dependents'].value_counts(dropna = False)

0    51602
3    51594
1    51531
2    51482
Name: number_of_dependents, dtype: int64

In [20]:
# check the values in the state column
df['state'].value_counts(dropna = False)

Alabama                 4044
Colorado                4044
District of Columbia    4044
Alaska                  4044
Florida                 4044
Iowa                    4044
Illinois                4044
Idaho                   4044
Indiana                 4044
Georgia                 4044
Delaware                4044
Hawaii                  4044
Arizona                 4044
Arkansas                4044
California              4044
Connecticut             4044
Maine                   4043
South Dakota            4043
Ohio                    4043
New Hampshire           4043
West Virginia           4043
Montana                 4043
Oregon                  4043
Wisconsin               4043
North Dakota            4043
Wyoming                 4043
Virginia                4043
Texas                   4043
Mississippi             4043
Washington              4043
Oklahoma                4043
Nebraska                4043
North Carolina          4043
Tennessee               4043
Utah                    4043
Minnesota               4043
Kansas                  4043
New Jersey              4043
Kentucky                4043
Maryland                4043
Pennsylvania            4043
New Mexico              4043
Vermont                 4043
Rhode Island            4043
New York                4043
Massachusetts           4043
Missouri                4043
Louisiana               4043
South Carolina          4043
Michigan                4043
Nevada                  4043
Name: state, dtype: int64

In [21]:
# check the values in the age column
df['age'].value_counts(dropna = False)

19    3329
51    3317
55    3317
56    3306
32    3305
45    3303
43    3299
44    3298
30    3297
47    3290
68    3284
26    3277
49    3267
37    3267
75    3265
81    3263
46    3262
77    3261
74    3260
29    3255
48    3253
28    3252
63    3250
54    3250
78    3247
72    3244
64    3243
73    3241
76    3241
20    3240
24    3236
22    3236
69    3234
79    3234
53    3219
38    3207
62    3203
40    3198
31    3198
27    3197
18    3195
80    3195
59    3195
67    3191
33    3190
35    3188
34    3182
21    3176
58    3173
41    3171
42    3168
57    3167
39    3163
52    3161
70    3157
71    3153
61    3153
60    3149
23    3148
65    3145
25    3127
66    3114
50    3102
36    3101
Name: age, dtype: int64

In [22]:
# find missing values
df.isnull().sum()

user_id                 0
first_name              0
last_name               0
gender                  0
state                   0
age                     0
date_joined             0
number_of_dependents    0
marital_status          0
income                  0
dtype: int64

In [23]:
# find full duplicates in the data
df_dups = df[df.duplicated()]

In [24]:
df_dups

Empty DataFrame
Columns: [user_id, first_name, last_name, gender, state, age, date_joined, number_of_dependents, marital_status, income]
Index: []

In [25]:
# there are no full duplicates

# 03 Data Combining

In [26]:
# import product/order data frame
df2 = pd.read_pickle(os.path.join(path, '02 Data','Prepared Data', 'orders_products_merged_grouped_2.pkl'))

# check the output
df2.head()

,order_id,user_id,number_of_orders_by_user,orders_day_of_week,order_hour_of_day,days_since_prior_order,is_first_order,product_id,add_to_cart_order,reordered,...,busiest_day,price_range_loc,busiest_days,busiest_period_of_day,max_order,loyalty_flag,mean_price_of_orders,spending_flag,median_of_days_since_prior_order,regularity_flag
0,2539329,1,1,2,8,NaN,Yes,196,1,0,...,Regularly busy,Mid-range product,Regular days,Average orders,10,New customer,6.367797,Low spender,20.5,Non-frequent customer
1,2398795,1,2,3,7,15.0,No,196,1,1,...,Regularly busy,Mid-range product,Slowest days,Average orders,10,New customer,6.367797,Low spender,20.5,Non-frequent customer
2,473747,1,3,3,12,21.0,No,196,1,1,...,Regularly busy,Mid-range product,Slowest days,Most orders,10,New customer,6.367797,Low spender,20.5,Non-frequent customer
3,2254736,1,4,4,7,29.0,No,196,1,1,...,Least busy,Mid-range product,Slowest days,Average orders,10,New customer,6.367797,Low spender,20.5,Non-frequent customer
4,431534,1,5,4,15,28.0,No,196,1,1,...,Least busy,Mid-range product,Slowest days,Most orders,10,New customer,6.367797,Low spender,20.5,Non-frequent customer

In [28]:
# Merge the data
df3 = df2.merge(df, on = ['user_id'], indicator = True)

In [30]:
# check the output
df3.head(100)

,order_id,user_id,number_of_orders_by_user,orders_day_of_week,order_hour_of_day,days_since_prior_order,is_first_order,product_id,add_to_cart_order,reordered,...,first_name,last_name,gender,state,age,date_joined,number_of_dependents,marital_status,income,_merge
0,2539329,1,1,2,8,NaN,Yes,196,1,0,...,Linda,Nguyen,Female,Alabama,31,2/17/2019,3,married,40423,both
1,2398795,1,2,3,7,15.0,No,196,1,1,...,Linda,Nguyen,Female,Alabama,31,2/17/2019,3,married,40423,both
2,473747,1,3,3,12,21.0,No,196,1,1,...,Linda,Nguyen,Female,Alabama,31,2/17/2019,3,married,40423,both
3,2254736,1,4,4,7,29.0,No,196,1,1,...,Linda,Nguyen,Female,Alabama,31,2/17/2019,3,married,40423,both
4,431534,1,5,4,15,28.0,No,196,1,1,...,Linda,Nguyen,Female,Alabama,31,2/17/2019,3,married,40423,both
5,3367565,1,6,2,7,19.0,No,196,1,1,...,Linda,Nguyen,Female,Alabama,31,2/17/2019,3,married,40423,both
6,550135,1,7,1,9,20.0,No,196,1,1,...,Linda,Nguyen,Female,Alabama,31,2/17/2019,3,married,40423,both
7,3108588,1,8,1,14,14.0,No,196,2,1,...,Linda,Nguyen,Female,Alabama,31,2/17/2019,3,married,40423,both
8,2295261,1,9,1,16,0.0,No,196,4,1,...,Linda,Nguyen,Female,Alabama,31,2/17/2019,3,married,40423,both
9,2550362,1,10,4,8,30.0,No,196,1,1,...,Linda,Nguyen,Female,Alabama,31,2/17/2019,3,married,40423,both
10,2539329,1,1,2,8,NaN,Yes,14084,2,0,...,Linda,Nguyen,Female,Alabama,31,2/17/2019,3,married,40423,both
11,2539329,1,1,2,8,NaN,Yes,12427,3,0,...,Linda,Nguyen,Female,Alabama,31,2/17/2019,3,married,40423,both
12,2398795,1,2,3,7,15.0,No,12427,3,1,...,Linda,Nguyen,Female,Alabama,31,2/17/2019,3,married,40423,both
13,473747,1,3,3,12,21.0,No,12427,2,1,...,Linda,Nguyen,Female,Alabama,31,2/17/2019,3,married,40423,both
14,2254736,1,4,4,7,29.0,No,12427,2,1,...,Linda,Nguyen,Female,Alabama,31,2/17/2019,3,married,40423,both
15,431534,1,5,4,15,28.0,No,12427,2,1,...,Linda,Nguyen,Female,Alabama,31,2/17/2019,3,married,40423,both
16,3367565,1,6,2,7,19.0,No,12427,2,1,...,Linda,Nguyen,Female,Alabama,31,2/17/2019,3,married,40423,both
17,550135,1,7,1,9,20.0,No,12427,3,1,...,Linda,Nguyen,Female,Alabama,31,2/17/2019,3,married,40423,both
18,3108588,1,8,1,14,14.0,No,12427,1,1,...,Linda,Nguyen,Female,Alabama,31,2/17/2019,3,married,40423,both
19,2295261,1,9,1,16,0.0,No,12427,6,1,...,Linda,Nguyen,Female,Alabama,31,2/17/2019,3,married,40423,both
20,2550362,1,10,4,8,30.0,No,12427,9,1,...,Linda,Nguyen,Female,Alabama,31,2/17/2019,3,married,40423,both
21,2539329,1,1,2,8,NaN,Yes,26088,4,0,...,Linda,Nguyen,Female,Alabama,31,2/17/2019,3,married,40423,both
22,2398795,1,2,3,7,15.0,No,26088,5,1,...,Linda,Nguyen,Female,Alabama,31,2/17/2019,3,married,40423,both
23,2539329,1,1,2,8,NaN,Yes,26405,5,0,...,Linda,Nguyen,Female,Alabama,31,2/17/2019,3,married,40423,both
24,2254736,1,4,4,7,29.0,No,26405,5,1,...,Linda,Nguyen,Female,Alabama,31,2/17/2019,3,married,40423,both
25,2398795,1,2,3,7,15.0,No,10258,2,0,...,Linda,Nguyen,Female,Alabama,31,2/17/2019,3,married,40423,both
26,473747,1,3,3,12,21.0,No,10258,3,1,...,Linda,Nguyen,Female,Alabama,31,2/17/2019,3,married,40423,both
27,2254736,1,4,4,7,29.0,No,10258,3,1,...,Linda,Nguyen,Female,Alabama,31,2/17/2019,3,married,40423,both
28,431534,1,5,4,15,28.0,No,10258,3,1,...,Linda,Nguyen,Female,Alabama,31,2/17/2019,3,married,40423,both
29,3367565,1,6,2,7,19.0,No,10258,3,1,...,Linda,Nguyen,Female,Alabama,31,2/17/2019,3,married,40423,both
30,550135,1,7,1,9,20.0,No,10258,2,1,...,Linda,Nguyen,Female,Alabama,31,2/17/2019,3,married,40423,both
31,3108588,1,8,1,14,14.0,No,10258,3,1,...,Linda,Nguyen,Female,Alabama,31,2/17/2019,3,married,40423,both
32,2295261,1,9,1,16,0.0,No,10258,5,1,...,Linda,Nguyen,Female,Alabama,31,2/17/2019,3,married,40423,both
33,2550362,1,10,4,8,30.0,No,10258,6,1,...,Linda,Nguyen,Female,Alabama,31,2/17/2019,3,married,40423,both
34,2398795,1,2,3,7,15.0,No,13176,4,0,...,Linda,Nguyen,Female,Alabama,31,2/17/2019,3,married,40423,both
35,431534,1,5,4,15,28.0,No,13176,8,1,...,Linda,Nguyen,Female,Alabama,31,2/17/2019,3,married,40423,both
36,2398795,1,2,3,7,15.0,No,13032,6,0,...,Linda,Nguyen,Female,Alabama,31,2/17/2019,3,married,40423,both
37,550135,1,7,1,9,20.0,No,13032,5,1,...,Linda,Nguyen,Female,Alabama,31,2/17/2019,3,married,40423,both
38,2550362,1,10,4,8,30.0,No,13032,8,1,...,Linda,Nguyen,Female,Alabama,31,2/17/2019,3,married,40423,both
39,473747,1,3,3,12,21.0,No,25133,4,0,...,Linda,Nguyen,Female,Alabama,31,2/17/2019,3,married,40423,both
40,2254736,1,4,4,7,29.0,No,25133,4,1,...,Linda,Nguyen,Female,Alabama,31,2/17/2019,3,married,40423,both
41,431534,1,5,4,15,28.0,No,25133,4,1,...,Linda,Nguyen,Female,Alabama,31,2/17/2019,3,married,40423,both
42,3367565,1,6,2,7,19.0,No,25133,4,1,...,Linda,Nguyen,Female,Alabama,31,2/17/2019,3,married,40423,both
43,550135,1,7,1,9,20.0,No,25133,4,1,...,Linda,Nguyen,Female,Alabama,31,2/17/2019,3,married,40423,both
44,3108588,1,8,1,14,14.0,No,25133,4,1,...,Linda,Nguyen,Female,Alabama,31,2/17/2019,3,married,40423,both
45,2295261,1,9,1,16,0.0,No,25133,3,1,...,Linda,Nguyen,Female,Alabama,31,2/17/2019,3,married,40423,both
46,2550362,1,10,4,8,30.0,No,25133,5,1,...,Linda,Nguyen,Female,Alabama,31,2/17/2019,3,married,40423,both
47,473747,1,3,3,12,21.0,No,30450,5,0,...,Linda,Nguyen,Female,Alabama,31,2/17/2019,3,married,40423,both
48,431534,1,5,4,15,28.0,No,10326,5,0,...,Linda,Nguyen,Female,Alabama,31,2/17/2019,3,married,40423,both
49,431534,1,5,4,15,28.0,No,17122,6,0,...,Linda,Nguyen,Female,Alabama,31,2/17/2019,3,married,40423,both
50,431534,1,5,4,15,28.0,No,41787,7,0,...,Linda,Nguyen,Female,Alabama,31,2/17/2019,3,married,40423,both
51,3108588,1,8,1,14,14.0,No,46149,5,0,...,Linda,Nguyen,Female,Alabama,31,2/17/2019,3,married,40423,both
52,2295261,1,9,1,16,0.0,No,46149,2,1,...,Linda,Nguyen,Female,Alabama,31,2/17/2019,3,married,40423,both
53,2550362,1,10,4,8,30.0,No,46149,2,1,...,Linda,Nguyen,Female,Alabama,31,2/17/2019,3,married,40423,both
54,3108588,1,8,1,14,14.0,No,49235,6,0,...,Linda,Nguyen,Female,Alabama,31,2/17/2019,3,married,40423,both
55,2295261,1,9,1,16,0.0,No,49235,1,1,...,Linda,Nguyen,Female,Alabama,31,2/17/2019,3,married,40423,both
56,2550362,1,10,4,8,30.0,No,39657,3,0,...,Linda,Nguyen,Female,Alabama,31,2/17/2019,3,married,40423,both
57,2550362,1,10,4,8,30.0,No,38928,4,0,...,Linda,Nguyen,Female,Alabama,31,2/17/2019,3,married,40423,both
58,2550362,1,10,4,8,30.0,No,35951,7,0,...,Linda,Nguyen,Female,Alabama,31,2/17/2019,3,married,40423,both
59,2968173,15,15,1,9,7.0,No,196,2,0,...,Janet,Woodard,Female,Indiana,69,6/3/2019,0,divorced/widowed,54313,both
60,1870022,15,17,2,16,8.0,No,196,6,1,...,Janet,Woodard,Female,Indiana,69,6/3/2019,0,divorced/widowed,54313,both
61,1911383,15,18,2,11,7.0,No,196,1,1,...,Janet,Woodard,Female,Indiana,69,6/3/2019,0,divorced/widowed,54313,both
62,2715276,15,21,1,9,7.0,No,196,1,1,...,Janet,Woodard,Female,Indiana,69,6/3/2019,0,divorced/widowed,54313,both
63,487368,15,22,1,10,14.0,No,196,1,1,...,Janet,Woodard,Female,Indiana,69,6/3/2019,0,divorced/widowed,54313,both
64,2514324,15,1,5,13,NaN,Yes,12427,2,0,...,Janet,Woodard,Female,Indiana,69,6/3/2019,0,divorced/widowed,54313,both
65,3135826,15,2,6,12,15.0,No,12427,2,1,...,Janet,Woodard,Female,Indiana,69,6/3/2019,0,divorced/widowed,54313,both
66,714991,15,4,1,11,16.0,No,12427,2,1,...,Janet,Woodard,Female,Indiana,69,6/3/2019,0,divorced/widowed,54313,both
67,3119091,15,8,2,17,8.0,No,12427,1,1,...,Janet,Woodard,Female,Indiana,69,6/3/2019,0,divorced/widowed,54313,both
68,2883598,15,12,1,8,6.0,No,12427,2,1,...,Janet,Woodard,Female,Indiana,69,6/3/2019,0,divorced/widowed,54313,both
69,113728,15,14,1,10,14.0,No,12427,3,1,...,Janet,Woodard,Female,Indiana,69,6/3/2019,0,divorced/widowed,54313,both
70,3097485,15,16,1,9,7.0,No,12427,2,1,...,Janet,Woodard,Female,Indiana,69,6/3/2019,0,divorced/widowed,54313,both
71,1870022,15,17,2,16,8.0,No,12427,2,1,...,Janet,Woodard,Female,Indiana,69,6/3/2019,0,divorced/widowed,54313,both
72,2345592,15,19,5,11,3.0,No,12427,4,1,...,Janet,Woodard,Female,Indiana,69,6/3/2019,0,divorced/widowed,54313,both
73,2994589,15,20,1,13,10.0,No,12427,1,1,...,Janet,Woodard,Female,Indiana,69,6/3/2019,0,divorced/widowed,54313,both
74,2514324,15,1,5,13,NaN,Yes,11266,1,0,...,Janet,Woodard,Female,Indiana,69,6/3/2019,0,divorced/widowed,54313,both
75,3135826,15,2,6,12,15.0,No,11266,4,1,...,Janet,Woodard,Female,Indiana,69,6/3/2019,0,divorced/widowed,54313,both
76,876095,15,6,5,11,8.0,No,11266,1,1,...,Janet,Woodard,Female,Indiana,69,6/3/2019,0,divorced/widowed,54313,both
77,2685110,15,7,1,11,17.0,No,11266,1,1,...,Janet,Woodard,Female,Indiana,69,6/3/2019,0,divorced/widowed,54313,both
78,887727,15,9,2,13,7.0,No,11266,2,1,...,Janet,Woodard,Female,Indiana,69,6/3/2019,0,divorced/widowed,54313,both
79,2600170,15,11,2,9,14.0,No,11266,2,1,...,Janet,Woodard,Female,Indiana,69,6/3/2019,0,divorced/widowed,54313,both
80,2332087,15,13,1,10,14.0,No,11266,2,1,...,Janet,Woodard,Female,Indiana,69,6/3/2019,0,divorced/widowed,54313,both
81,2968173,15,15,1,9,7.0,No,11266,1,1,...,Janet,Woodard,Female,Indiana,69,6/3/2019,0,divorced/widowed,54313,both
82,1870022,15,17,2,16,8.0,No,11266,1,1,...,Janet,Woodard,Female,Indiana,69,6/3/2019,0,divorced/widowed,54313,both
83,2345592,15,19,5,11,3.0,No,11266,1,1,...,Janet,Woodard,Female,Indiana,69,6/3/2019,0,divorced/widowed,54313,both
84,2514324,15,1,5,13,NaN,Yes,10441,3,0,...,Janet,Woodard,Female,Indiana,69,6/3/2019,0,divorced/widowed,54313,both
85,714991,15,4,1,11,16.0,No,10441,1,1,...,Janet,Woodard,Female,Indiana,69,6/3/2019,0,divorced/widowed,54313,both
86,887727,15,9,2,13,7.0,No,10441,3,1,...,Janet,Woodard,Female,Indiana,69,6/3/2019,0,divorced/widowed,54313,both
87,2600170,15,11,2,9,14.0,No,10441,3,1,...,Janet,Woodard,Female,Indiana,69,6/3/2019,0,divorced/widowed,54313,both
88,113728,15,14,1,10,14.0,No,10441,2,1,...,Janet,Woodard,Female,Indiana,69,6/3/2019,0,divorced/widowed,54313,both
89,3097485,15,16,1,9,7.0,No,10441,1,1,...,Janet,Woodard,Female,Indiana,69,6/3/2019,0,divorced/widowed,54313,both
90,1870022,15,17,2,16,8.0,No,10441,4,1,...,Janet,Woodard,Female,Indiana,69,6/3/2019,0,divorced/widowed,54313,both
91,487368,15,22,1,10,14.0,No,10441,2,1,...,Janet,Woodard,Female,Indiana,69,6/3/2019,0,divorced/widowed,54313,both
92,2514324,15,1,5,13,NaN,Yes,14715,4,0,...,Janet,Woodard,Female,Indiana,69,6/3/2019,0,divorced/widowed,54313,both
93,2564002,15,3,6,12,7.0,No,14715,1,1,...,Janet,Woodard,Female,Indiana,69,6/3/2019,0,divorced/widowed,54313,both
94,714991,15,4,1,11,16.0,No,14715,3,1,...,Janet,Woodard,Female,Indiana,69,6/3/2019,0,divorced/widowed,54313,both
95,3317979,15,5,4,15,17.0,No,14715,1,1,...,Janet,Woodard,Female,Indiana,69,6/3/2019,0,divorced/widowed,54313,both
96,2685110,15,7,1,11,17.0,No,14715,3,1,...,Janet,Woodard,Female,Indiana,69,6/3/2019,0,divorced/widowed,54313,both
97,887727,15,9,2,13,7.0,No,14715,1,1,...,Janet,Woodard,Female,Indiana,69,6/3/2019,0,divorced/widowed,54313,both
98,2600170,15,11,2,9,14.0,No,14715,1,1,...,Janet,Woodard,Female,Indiana,69,6/3/2019,0,divorced/widowed,54313,both
99,2332087,15,13,1,10,14.0,No,14715,3,1,...,Janet,Woodard,Female,Indiana,69,6/3/2019,0,divorced/widowed,54313,both

In [32]:
# check the shape
df3.shape

(32404859, 34)

# 04 Exporting Data

In [31]:
# export the new data frame
df3.to_pickle(os.path.join(path, '02 Data','Prepared Data', 'orders_products_customers.pkl'))