# 01. Importing Libraries

In [1]:
# import libraries
import pandas as pd
import numpy as np
import os

# 02. Data Types

In [2]:
x = 30

In [3]:
y = 70

In [4]:
x + y

100

In [5]:
z = 130

In [6]:
z - x

100

In [9]:
w = 50

In [10]:
w + w

100

In [11]:
a = 6.88

In [14]:
b = 2.22

In [15]:
a / b

3.099099099099099

In [16]:
c = 'gar'

In [17]:
d = 'age'

In [18]:
c + d

'garage'

In [32]:
e = 'The llama does not '
f = 'want to eat. '

In [33]:
e + f

'The llama does not want to eat. '

In [34]:
g = 'Her name '
h = 'is Tina.'

In [35]:
g + h

'Her name is Tina.'

In [36]:
e + f + g + h

'The llama does not want to eat. Her name is Tina.'

# 03. Bonus Task

In [40]:
m = 'meow '

In [41]:
m * 100

'meow meow meow meow meow meow meow meow meow meow meow meow meow meow meow meow meow meow meow meow meow meow meow meow meow meow meow meow meow meow meow meow meow meow meow meow meow meow meow meow meow meow meow meow meow meow meow meow meow meow meow meow meow meow meow meow meow meow meow meow meow meow meow meow meow meow meow meow meow meow meow meow meow meow meow meow meow meow meow meow meow meow meow meow meow meow meow meow meow meow meow meow meow meow meow meow meow meow meow meow '